*, body{
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
    border: border-box;
    background-color:#f1f2f4;
}

/* For white backgrounds */
.wh-bg{                             
    background-color: white;
}

/* For transparent background */
.tr-bg{
    background-color: transparent;
}



/* For whole header section */

header{
    height: fit-content;
    margin-bottom: 5px;
    padding: 12px;
    background-color: white;
    position: relative;
}

.nav{
    height: 45px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.sec1{
    width: 50%;
    height: 43px;
    display: flex;
    background-color: white;
    margin-right: 30px;
    padding-right: 10;
}

.image{
    margin: 5px 40px 5px 0;
    background-color: white;
    cursor: pointer;
}

.search {
    border-radius: 10px;
    background-color: aqua;
    width: 450px;
    height: 40px;  
    display: flex;
    justify-content: space-around;
}

.search i{
    cursor: pointer;
}

.icon1{
    padding: 5px;
    margin: 5px;
    align-self: center;
    color: #569985; 
    background-color:aqua;
}

.input{
    width: 100%;
    height:100%;
    border: none;
    background-color: transparent;
    font-size: large;
}

input:focus{
    outline: none;
}

.sec2{
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-family: fointer_regular, fallback-inter_regular, Arial, sans-serif;
}

.icon2{
    padding: 0;
    margin: 0;
}

.option{
    outline: none;
    border: none;
}

.p1{
    align-self: center;
    /* margin: 5px 40px 5px -15px; */
    padding: 7px;
    cursor: pointer;
    width: 121px;
    text-align: center;
}

.p1:hover{
    border: 1px solid #e9dfdf;
    border-radius: 8px;
    background-color: #f8f4f4;
}

.p1:hover .icon{
    background-color: #f8f4f4;
}

.p1:hover .login{
    background-color: #f8f4f4;
}

.p1:hover .down{
    background-color: #f8f4f4;
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.p2{
    align-self: center;
    /* margin: 5px 0 5px 0; */
    cursor: pointer;
    width: fit-content;
}

.p3{
    align-self: center;
    /* margin: 5px 40px 5px 0; */
    cursor: pointer;
    width: 150px;
}

.p4{
    align-self: center;
    /* margin: 5px 40px 5px 70px; */
    padding: 10px;
}

.p4:hover{
    border: 1px solid #e9dfdf;
    border-radius: 5px;
    background-color: #f8f4f4;
}

.p4:hover .dots{
    background-color: #f8f4f4;
}

.space{
    margin: 3px;
}





/* Image slideshow section */

.container{
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    margin: 10px 15px 20px 15px;
    font-weight: 500;
}  

.child p{
    color: black;
    font-size: small;
    font-weight: bold;
}

.div-img{
    height: 70px;
    background-color: transparent;
}

.slideshow-container {
    max-height: 170px;
    margin: 10px 15px 20px 15px;
    background-color: white;
    position: relative;
  }

.mySlides {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(174, 129, 129, 0.8);
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}  
}
  


/* Bank offer section */

.bank{
    height: fit-content;
    margin: 50px 15px 20px 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.bank img{
    width: 700px;
    border: 1px solid rgb(211, 194, 194);
    border-radius: 5px;
}



/* Paragraph section */

.paragraph{
    margin: 100px 15px 25px 15px;
    color: #565656;
    line-height: 21px;
    font-family: 'Inter', sans-serif;
}

.paragraph p{
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #565656;
}

.paragraph .bold{
    font-size: 14px;
}



/* For the whole footer section */

.f-bg{
    background-color: rgb(49, 34, 34);
}

.footer-container{
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: small;
    padding: 30px;
}

.footer-container-left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.footer-container-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.footer-container-left, .footer-container-right{
    padding: 20px;
}

.footer-child{
    width: 129px;
    display: flex;
    flex-direction: column;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    line-height: 20px;
}

.footer-child a,p{
    color: white;
}

.footer-child p{
    font-size: 12px;
}

.footer-child a{
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(49, 34, 34);
}

.vl {
    border-left: 1px solid rgb(121, 121, 121);
    height: 200px;
  }

.l1{
    padding-bottom: 15px;
}

.last{
    display: flex;
    height: 20px;
    justify-content: space-evenly;
    padding: 20px;
}

.ele{
    display: flex;
    flex-direction: row;
    font-size: 13px;;
    background-color: rgb(49, 34, 34);
}

.ele a{
    color: white;
    background-color: rgb(49, 34, 34);
}

.bg-or{
    color: orange;
    margin-right: 10px;
}

.left, .right{
    width: 40%;
    background-color: rgb(49, 34, 34);;
}




  
