*, body{
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
    border: border-box;
    background-color: rgba(223, 220, 215, 0.87);
}

.wh-bg{
    background-color: white;
}

.tr-bg{
    background-color: transparent;
}

header{
    height: fit-content;
    margin-bottom: 5px;
    padding: 12px;
    background-color: white;
    position: sticky;
}

.nav{
    height: 45px;
    display: flex;
    background-color: white;
    /* justify-content: space-evenly; */
}

.sec1{
    width: 644px;
    height: 43px;
    display: flex;
    background-color: white;
    margin-right: 50px;
    padding-right: 10;
}

.image{
    margin: 5px 40px 5px 0;
    background-color: white;
}

.search {
    border-radius: 12px;
    background-color: aqua;
    width: 450px;
    height: 40px;  
    display: flex;
    justify-content: space-around;
  }

.icon1{
    padding: 5px;
    margin: 5px;
    align-self: center;
    color: #569985; 
    background-color:aqua;
}

.input{
    width: 404px;
    height:100%;
    border: none;
    background-color: transparent;
    font-size: large;
}

input:focus{
    outline: none;
}

.sec2{
    display: flex;
}

.icon2{
    padding: 0;
    margin: 0;
}

.option{
    outline: none;
    border: none;
}

.p1{
    align-self: center;
    margin: 5px 40px 5px -15px;
}

.p2{
    align-self: center;
    margin: 5px 40px 5px 0;
}

.p3{
    align-self: center;
    margin: 5px 40px 5px 0;
}

.p4{
    align-self: center;
    margin: 5px 40px 5px 70px;
}

.space{
    margin: 3px;
}

.container{
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    margin: 10px 15px 20px 15px;
    font-weight: 500;
}  

.div-img{
    height: 70px;
    background-color: transparent;
}

.slideshow-container {
    max-height: 170px;
    margin: 10px 15px 20px 15px;
    background-color: white;
    position: relative;
  }

.mySlides {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(174, 129, 129, 0.8);
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}  
}
  
.bank{
    height: fit-content;
    margin: 50px 15px 20px 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.bank img{
    width: 700px;
    border: 1px solid rgb(211, 194, 194);
    border-radius: 5px;
}

.f-bg{
    background-color: rgb(49, 34, 34);
}

.footer-container{
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: small;
    padding: 30px;
}

.footer-container-left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.footer-container-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.footer-container-left, .footer-container-right{
    padding: 20px;
}

.footer-child{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.footer-child a,p{
    color: white;
}

.footer-child p{
    font-size: 14px;
}

.footer-child a{
    font-size: 13px;
    font-weight: bold;
    background-color: rgb(49, 34, 34);
}

.vl {
    border-left: 1px solid rgb(121, 121, 121);
    height: 200px;
  }

.l1{
    padding-bottom: 15px;
}

.last{
    display: flex;
    height: 20px;
    justify-content: space-evenly;
    padding: 20px;
}

.ele{
    display: flex;
    flex-direction: row;
    font-size: 13px;;
    background-color: rgb(49, 34, 34);
}

.ele a{
    color: white;
    background-color: rgb(49, 34, 34);
}

.bg-or{
    color: orange;
    margin-right: 10px;
}

.left, .right{
    width: 240px;
    background-color: rgb(49, 34, 34);;
}

/* .copyright{
    text-align: center;
    padding: 10px;
    font-size: 13px;
} */